{% extends 'blog/base.html' %}
{% load static %}

<!-- Page Header-->
{% block heading %}
    <h1 class="text-center">Articles</h1>
{% endblock %}
<!-- Main Content-->
{% block content %}
<div class="container">
    <ul>
    {% for article in blog_articles %}
        <li><a href={% url "article_detail" article.id %} class="link-success">{{ article.title }}</a><br><sub>Published {{ article.publish_date }} by {{ article.author }}</sub></li>
        <br>
    {% endfor %}
    </ul>
</div>
{% endblock %}
